package main

import (
	"fmt"

	"github.com/kaveenr/aoc23/commons"
)

func Part1(input string) (result int) {
	return result
}

func Part2(input string) (result int) {
	return result
}

func main() {
	myPuzzleInput, _ := commons.LoadFile(`input.txt`)
	fmt.Println("Part 1 Solution:", Part1(myPuzzleInput))
	fmt.Println("Part 2 Solution:", Part2(myPuzzleInput))
}